@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #121212 inset;
  box-shadow: 0 0 0px 1000px #121212 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.animate-on-and-off {
  animation: on-and-off 5s infinite;
}

@keyframes on-and-off {
  0% {
    @apply opacity-40;
  }

  50% {
    @apply opacity-5;
  }

  100% {
    @apply opacity-40;
  }
}
